BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP    "clk" SITE "P6";
IOBUF PORT     "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;
LOCATE COMP    "LEDS[0]" SITE "T6";
IOBUF PORT     "LEDS[0]" IO_TYPE=LVCMOS33;
LOCATE COMP    "resetn" SITE "R7";
IOBUF PORT     "resetn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP    "SDA" SITE "C4";
IOBUF PORT     "SDA" IO_TYPE=LVCMOS33;
LOCATE COMP    "SCL" SITE "D4";
IOBUF PORT     "SCL" IO_TYPE=LVCMOS33;
LOCATE COMP    "xclk" SITE "G3";
IOBUF PORT     "xclk" IO_TYPE=LVCMOS33;

LOCATE COMP    "p_clock" SITE "J5";
IOBUF PORT     "p_clock" IO_TYPE=LVCMOS33;
LOCATE COMP    "vsync" SITE "J4";
IOBUF PORT     "vsync" IO_TYPE=LVCMOS33;
LOCATE COMP    "href" SITE "E4";
IOBUF PORT     "href" IO_TYPE=LVCMOS33;
LOCATE COMP    "D0" SITE "D3";
IOBUF PORT     "D0" IO_TYPE=LVCMOS33;
LOCATE COMP    "D1" SITE "F4";
IOBUF PORT     "D1" IO_TYPE=LVCMOS33;
LOCATE COMP    "D2" SITE "F3";
IOBUF PORT     "D2" IO_TYPE=LVCMOS33;
LOCATE COMP    "D3" SITE "F5";
IOBUF PORT     "D3" IO_TYPE=LVCMOS33;
LOCATE COMP    "D4" SITE "H3";
IOBUF PORT     "D4" IO_TYPE=LVCMOS33;
LOCATE COMP    "D5" SITE "H4";
IOBUF PORT     "D5" IO_TYPE=LVCMOS33;
LOCATE COMP    "D6" SITE "G5";
IOBUF PORT     "D6" IO_TYPE=LVCMOS33;
LOCATE COMP    "D7" SITE "H5";
IOBUF PORT     "D7" IO_TYPE=LVCMOS33;
